<a href="https://colab.research.google.com/github/riri-coder/50projects50days/blob/master/Copy_of_1_14_List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_14_List Comprehensions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Convert Salaries to EUR (1.14.1)

In [ ]:
# Code Needed
salaries_usd = [100000, 120000, 80000, 90000]
salaries_EUR =[]
for salaries in salaries_usd:
  euros = salaries * .95
  salaries_EUR.append(euros)
print(salaries_EUR)

[95000.0, 114000.0, 76000.0, 85500.0]

---

## ðŸŸ¨ Create List of Data Jobs (1.14.2)

In [ ]:
# Code Needed
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
job_list = []
for jobs, years in job_experience.items():
  job_list.append(jobs)

print(job_list)

['Data Scientist', 'Data Analyst', 'Machine Learning Specialist', 'Data Engineer']

---

## ðŸŸ¥ Extract High Salary Jobs (1.14.3)

In [ ]:
# Code Needed
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}]

high_salary_dicts = []
for jobs in job_salary_dicts:
  if jobs['salary'] >= 100000:
   high_salary_dicts.append(jobs)

print(high_salary_dicts)

[{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}]

---