<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_09_Dictionaries.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Postings (1.9.1)

In [1]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
print(job_postings['Data Scientist'])

120

---

## ðŸŸ© Add Job Role (1.9.2)

In [2]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

---

## ðŸŸ¨ Remove Job Role (1.9.3)

In [3]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
del job_postings['Data Analyst']
print(job_postings)

{'Data Scientist': 120, 'Machine Learning Engineer': 50}

---

## ðŸŸ¨ Merge Dictionaries (1.9.4)

In [4]:
# Code Needed
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

---

## ðŸŸ¥ Create Nested Dictionary (1.9.5)

In [17]:
job_postings = {'Data Scientist': {'Salary': 120, 'Location': 'New York'},
                'Data Analyst': {'Salary': 80, 'Location': 'San Francisco'},
                'Machine Learning Engineer': {'Salary': 50, 'Location': 'London'}
}

print(list(job_postings.values()))

[{'Salary': 120, 'Location': 'New York'}, {'Salary': 80, 'Location': 'San Francisco'}, {'Salary': 50, 'Location': 'London'}]

---