<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_10_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Add Job Title to Set (1.10.1)

In [2]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('Data Engineer')
print(unique_job_titles)

{'Machine Learning Engineer', 'Data Scientist', 'Data Analyst', 'Data Engineer'}

---

## ðŸŸ© Remove Job Title from Set (1.10.2)

In [3]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Machine Learning Engineer', 'Data Scientist'}

---

## ðŸŸ© Create Unique Job Locations Set (1.10.3)

In [4]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
set(job_locations)

{'Austin', 'New York', 'San Francisco'}

---

## ðŸŸ¨ Union of Job Skills Sets (1.10.4)

In [5]:
# Code Needed
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}

skills_set1.union(skills_set2)

{'Machine Learning', 'Python', 'R', 'SQL', 'Tableau'}

---