<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [3]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[0:3]

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [4]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roleslist= list(job_roles)
job_roleslist.append('Data Engineer')
job_roles = tuple(job_roleslist)
job_roles

('Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'Data Engineer')

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [5]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roleslist= list(job_roles)
job_roleslist.remove('Data Analyst')
job_roles = tuple(job_roleslist)
job_roles

('Data Scientist', 'Machine Learning Engineer')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [9]:
# Code Needed
job_postings = (120, 80, 50)

full_time, part_time, freelance = job_postings

# Now you can access the values directly
print(full_time)    # 120
print(part_time)    # 80
print(freelance)    # 50

120
80
50

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [10]:
# Code Needed
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
job_details[0][1]

120

---