<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [1]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

---

## ðŸŸ© Total Job Postings (1.13.2)

In [3]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]
print(len(job_postings))

5

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [4]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles_with_index = list(enumerate(job_titles))
print(job_titles_with_index)

[(0, 'Data Scientist'), (1, 'Data Analyst'), (2, 'Machine Learning Engineer')]

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [34]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
for jobs in job_titles:
  if 'Engineer' in jobs:
    print(jobs)
    break

Machine Learning Engineer

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [28]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}


for position in positions_skills:
    if 'Data' in position:
      print(position)

Data Scientist
Data Analyst

---